{:enums
 {:episode
  {:description "The episodes of the original Star Wars trilogy."
   :values      [:NEWHOPE :EMPIRE :JEDI]}}

 :objects
 {:droid
  {:fields {:primary_functions {:type (list String)}
            :id                {:type Int}
            :name              {:type String}
            :appears_in        {:type (list :episode)}}}

  :human
  {:fields {:id          {:type Int}
            :name        {:type String}
            :home_planet {:type String}
            :appears_in  {:type (list :episode)}}}

  :tag
  {:fields {:id   {:type Int}
            :name {:type String}}}

  :ipinfo
  {:fields {:ip           {:type String}
            :country      {:type String}
            :country_code {:type String}
            :region       {:type String}
            :region_name  {:type String}
            :city         {:type String}
            :isp          {:type String}
            :org          {:type String}
            :as_info      {:type String}
            :domain       {:type String}
            :longitude    {:type Float}
            :latitude     {:type Float}}}}

 :mutations
 {:addTag     {:type    :tag
               :args    {:name {:type String}}
               :resolve :add-tag}
  :deleteTag  {:type    Int
               :args    {:id {:type Int}}
               :resolve :delete-tag}
  :addCdnNode {:type    Int
               :args    {:ip           {:type String}
                         :country      {:type String}
                         :country_code {:type String}
                         :region       {:type String}
                         :region_name  {:type String}
                         :city         {:type String}
                         :isp          {:type String}
                         :org          {:type String}
                         :as_info      {:type String}
                         :domain       {:type String}
                         :longitude    {:type Float}
                         :latitude     {:type Float}}
               :resolve :add-cdn-node}}

 :queries
 {:tag {:type    (list :tag)
        :args    {}
        :resolve :get-tag}
  :cdn {:type    (list :ipinfo)
        :args    {:ip {:type String}}
        :resolve :get-cdn-node}}}
